<%- include("partials/header.ejs") %>

<section id="all-posts" class="mb-5">
    <div class="container">
        <% for (var i = 0; i < locals.all_posts.length; i++) { %>
            <a href="/post_<%= locals.all_posts[i].id %>">
                <div class="row gx-0 mb-3 content-row">
                    <div class="col-md-2">
                        <img src="images/<%= locals.all_posts[i].image %>" alt="">
                    </div>
                    <div class="col-md-10 px-3">
                        <h2 class="mt-3"><%= locals.all_posts[i].title %></h2>
                        <p>
                            <%= locals.all_posts[i].content.slice(0, 150) %>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</section>


<%- include("partials/footer.ejs") %>